<!DOCTYPE html>
<html>
<head>
    <title>System Resource Dashboard</title>
</head>
<body>
    <h1>System Resource Dashboard</h1>

    <h2>Ram Info</h2>
    <pre>{{ ram_info }}</pre>

    <h2>Memory Info</h2>
    <pre>{{ memory_info }}</pre>

    <h2>Swap Info</h2>
    <pre>{{ swap_info }}</pre>

    <h2>Disk Info</h2>
    <pre>{{ disk_info }}</pre>

    <h2>Network Info</h2>
    <pre>{{ network_info }}</pre>

    <h2>Connections</h2>
    <pre>{{ connection_info }}</pre>

    <h2>Temperature Info</h2>
    <pre>{{ temperature_info }}</pre>
</body>
</html>
